<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/browse.css">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <header> 
            <div class="logo">
                <img src="/images/logo.png" alt="Netflix Logo">
            </div> 
            <nav class="Main-nav">
                <a href="#">Home</a>
                <a href="#">Tv Shows</a>
                <a href="#">Movies</a>
                <a href="#">My Favorites</a>
            </nav>
            <nav class="left-nav">
                <a href="#">Account</a>
                <a href="#">Help</a>
                <a href="#">Settings</a>
            </nav>
        </header>

        <div class="main-content">
            <h1>New On Netflix</h1>
            <div class="slideshow">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
            </div>
            <h1>Trending Now</h1>
            <div class="slideshow">
                    <img src="/images/james.jpeg" alt="">
                    <img src="/images/james.jpeg" alt="">
                    <img src="/images/james.jpeg" alt="">
                    <img src="/images/james.jpeg" alt="">
                    <img src="/images/james.jpeg" alt="">
                    <img src="/images/james.jpeg" alt="">
            </div>
            <h1>Old School Classics</h1>
            <div class="slideshow">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
                <img src="/images/james.jpeg" alt="">
            </div>
        </div>
    </div>

  

    
</body>
</html>