<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
        <div class="header">
                <img src="/images/Netflix_Logo_CMYK.png" alt="Netflix Logo">
        </div>
        <div class="loginform">
        <form>
            <div class="form-group">
                <h1>Sign In</h1>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="Help" class="form-text text-muted">Need help?</small>
                <input type="password" class="form-control2" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="button" class="btn btn-primary btn-lg">Sign In</button>
            <p>New to Netflix? <a href="">Sign Up Now</a></p>
        </form>
    </div>
</body>
</html>