<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/css/login.css">
    <script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous" defer ></script>
    <script src="/scripts/signIn.js" defer></script>
    
    <title>Login</title>
</head>
<body>
    <div class="showcase">
        <div class="header">
                <img src="/images/new.png" alt="Netflix Logo">
        </div>
        <div class="loginform">
            <form>
                <div class="form-group">
                    <h1>Sign In</h1>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" value="">

                    <input type="password" class="form-control2" id="password" value="" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <input type="submit" id="signIn" value="Sign In"/>
                <p>New to Netflix? <a href="/signup">Sign Up Now</a></p>
            </form>
        </div>
    </div>
    
</body>
</html>