<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Document</title>
</head>
<body>
        <header>   
                <a href="/browse"><img id="netflix-logo" src="/images/netflix.png"></a>
        </header>

    <div id="profile">
        <div id="profile-image-div">
        <img src="/images/profile.png" id="image-profile">
        </div>
        <table>
            <tr>
                <th>User name</th>
                <th id="User name">Pouyesh</th>
            </tr>
        </table>
        <table>
            <tr>
                <th>User email</th>
                <th id="email"> pouyesh@</th>
            </tr>

        </table>
        <table>
            <tr>
                <th>Card Number</th>
                <th id:="Card Number">1298371927793</th>
            </tr>
        </table>
        <table>
            <tr>
                <th>Card Type</th>
                <th id="Card Type"> AMXX</th>
            </tr>
        </table>
        <table>
            <tr>
                <th>Card CVC</th>
                <th id="Card CVC">1212</th>
            </tr>
        </table>
        <table>
            <tr>
                <th>favoriteMovies</th>
                <th><a href="#" id="favoriteMovies">favoriteMovies</th>
            </tr>
        </table>
            
    </div>

    </body>
    </html>