<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" type = "text/css" href = "./css/style.css" />

<body>
    <div class="main">
    <header>
        <a><img class="netflix-logo" src="./imge/netflix.png"></a>
    </header>
            <form  id="sign-up-form">
                <div>
                    <label class="lable-email"> Email </label>
                    <input type="email" placeholder="Email">
                </div>
                <div>
                    <label class="lable-password"> password </label>
                    <input type="password" placeholder="Password">
                </div>
                <div>
                    <label class="sign-up-form" > </label>
                    <button id="sign-up-btn" type="button" >Sing in</button>
            </div>
            <div >
                    <p>New to netflix ?&nbsp;&nbsp;&nbsp;&nbsp;<a>Sign UP now </a></p>
            </div>
            </form>

        </div>
</body>
</html>