<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Sign Up</title>
</head>

    
  
<body>
        <header>   
                <a href="#"><img id="netflix-logo" src="/images/netflix.png"></a>
        </header>
    
           <form  id="sign-up-form"> 
               
               <div id="form-div">
                    <h3>Sign up </h3>
                    <div >
                        <label for="name"> </label>
                        <input id="name"  class="form-input"type="text" placeholder = "Name" name="name" value="">
                    </div>
                    <div >
                        <label for="lastName" > </label>
                        <input id="lastName" class="form-input" type="text" placeholder="Last name" name="lastName" value="">
                    </div>
                    <div >
                        <label for="email"> </label>
                        <input class="form-input" id="email" type="email" placeholder="Email" name="email" value="">
                    </div>
                    <div >
                        <label for="age"> </label>
                        <input class="form-input" id="age" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Date of birth" name="dateOfBirth" value="" >
                    </div>
                    <div >
                        <label for="password" > </label>
                        <input id="password" class="form-input" type="password" placeholder="Password" name="password" value="">
                    </div>
                    <div >
                        <label for="passwordConfirm" > </label>
                        <input id="passwordConfirm" class="form-input" type="password" placeholder="Confirm Password" name="passwordConfirm" value="">
                    </div>
                    <div>
                        <label for="visa">Visa</label>
                        <input type="radio" name="card" id="visa" value="">
                        <label for="AMX">Master</label>
                        <input type="radio" name="card" id="AMX" value="">
                        <label for="master">AMEX</label>
                         <input type="radio" name="card" id="master" value=""><br>

                    </div>
                    <div >
                        <label for="cardNumber"> </label>
                        <input id= "cardNumber" class="form-input" type="number" placeholder="Card Number" name="cardNumber" value="">
                    </div>
                    <div >
                        <label for="cvc"> </label>
                        <input  id="cvc" class="form-input" type="number" placeholder="CVC" name="CVC" value="">
                    </div>
                    <div >
                        <label  > </label>
                        <button id="signin-btn" type="button" >Submit</button>
                    </div>
                    
                </div >
                
        
            </form> 
</body>
</html>