@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    /* width: 100vw;
    height: 100vh; */
    margin: 0;
    padding: 0;
    background: url(/images/browsebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(40px, auto);
    margin: 20px;
}

header img{
    width:200px;
    height: 60px;
    grid-gap: 5px;
}
a{
    text-decoration: none;
    color: red;
    /* background-color: orange; */
    margin-right: 10px;
}

.main-content{
    padding:50px
}

h1{
    padding-top: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    background:rgba(221, 3, 3, 0.7);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;

}

.slideshow1{
    display: grid;
    grid-template-columns: repeat(6,minmax(100px,1fr));
    grid-auto-rows: auto;
    justify-content: center;
    justify-items: center;
}
.slideshow1 img{
    width: 150px;
    height: 150px;
    margin:0;
}
.slideshow2{
    display: grid;
    grid-template-columns: repeat(6,minmax(100px,1fr));
    grid-auto-rows: auto;
    justify-content: center;
    justify-items: center;
}
.slideshow2 img{
    width: 150px;
    height: 150px;
    margin:0;
}

.slideshow3{
    display: grid;
    grid-template-columns: repeat(6,minmax(100px,1fr));
    grid-auto-rows: auto;
    justify-content: center;
    justify-items: center;
}
.slideshow3 img{
    width: 150px;
    height: 150px;
    margin:0;
}

.imageClass:hover{
    transition: transform .5s;
    transform: scale(1.4);
    border-radius: 10px;
    border: 2px solid black;
}

.image-content{
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

