*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/images/background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
   
}
  
tr {
    height: 20px;
    width: 200px;
  }

  th{
    width: 200px;
    border: 1px solid black;

  }

#image-profile{
height:100px;
width:100px;
border-radius: 20px;
margin-left: 200px;

}
#profile{
    margin: auto;
    height:300px;
    width :500px;
    background:rgba(97, 64, 64, 0.482);
    color:white;
    border-radius: 50px;
    margin-top: 10%;
    z-index: 100;

}

#netflix-logo:hover{
    border:1px solid blue;
    transition: 0.7s;
    border-radius: 20px;
}
#netflix-logo{
        height: 60px;
        width: 130px;
        margin: 0 auto;
        margin-top: 20px;
}
#favoriteMovies{

    text-decoration: none;
    color:burlywood;
}
#favoriteMovies:hover{

    text-decoration: underline;
    color:blue;
    transition: 0.7s;

}